.header {
    height: 95vh;

    /* Linear gradient + image for a hero header */
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-light, 0.788), 
        rgba($primary-dark, 0.5)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    /* Set relative here so origin in absolute logo box are calculated from this element */
    position: relative;

    /* Top left, top right, bottom right, bottom left */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
    
        /* Magic center code */
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
