.btn {
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        font-size: $default-font-size;
    
        /* Transition shorthand, should be on the initial state */
        transition: all .1s
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($black, 0.2);

        &::after {
            transform: scaleY(1.5);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($black, 0.2);
    }

    &--white {
        background-color: $white;
        color: $grey;

        &:after {
            background-color: $white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $primary;
        color: $white;
        box-shadow: 0 1rem 2rem rgba($black, .3);
        transform: translateY(-2px);
    }

    &:active {

    }
}